body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
#header {
padding: 20px;
text-align: center;
background-color: #009688;
color: #fff;
}

#output {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #333;
}

.tab {
  overflow: hidden;
  background-color: #009688;
}

#buttonContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    /* allign-items: center; */
}

#buttonContainer label {
  margin-right: 0px; /* add some spacing */
}

.wrapper {
  display: flex; /* use flexbox */
  align-items: center; /* vertically center elements */
  margin-right: 10px; /* add some spacing */
}

.radioButton {
  display: inline-block;
  margin-right: 5px;
  padding: 0px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #12796f;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #00555a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
}

#notice{
  text-align: center;
}

h2 {
margin-bottom: 20px;
font-weight: normal;
color: #009688;
}

label {
display: block;
margin-bottom: 0px;
color: #00555a;
}

input[type="number"] {
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
width: 100%;
max-width: 400px;
}

button {
padding: 10px 20px;
background-color: #009688;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease-in-out;
}

#viewTransactionButton {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  }

  #viewTransactionButton:hover {
    background-color: #00796b;
    }

button:hover {
background-color: #00796b;
}

div#top-up-container,
div#make-payment-container {
max-width: 600px;
margin: 0 auto;
padding: 20px;
background-color: #fff;
border-radius: 4px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

div#top-up-container {
margin-top: 50px;
}

div#make-payment-container {
margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px ;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #009688;
  color: #fff;
}

